@import "tailwindcss" source(none);
@source "./pages";
@source "./components";
@plugin "daisyui" {
  themes: light, dark;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #6366F2;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6366F2;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6366F2;
}

[data-theme="light"] {
  body {
    background-color: #fff;
    color: black;
  }
  .footer {
    background-color: #fff;
    color: black
  }

  .drop {
    background-color: #fff;
    color:black;
  }
  .spanbg {
    background-color: black;
  }

}

[data-theme="dark"] {
  body {
    background-color: black;
    color: white;
  }
  .navbar {
    background-color: black;
    color: white;
  }
  .mobile-nav {
    background-color: black;
    color: white;
  }
  .drawer-bg {
    background-color: black;
  }
  .spanbg {
    background-color: #fff;
  }
  .drop {
    background-color: black;
    color:white;
  }
}
html,
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: white;
  color: black;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

