@import "tailwindcss" source(none);
@source "./pages";
@source "./components";

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: ;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #6366F2;
}

[data-theme="light"] {
  body {
    background-color: #FFDADB;
    color: black;
  }

  .navbar {
    background-color: #E93969;
    color: white;
  }

  .mobile-nav {
    background-color: #E93969;
    color: white;
  }

  .drop {
    background-color: #F691AC;
    color:black;
  }

  .spanbg {
    background-color: white;
    border-radius: 10px;
  }

  .mainContent {
    background-color: #fff;
    color: black;
  }

  .line {
    border-color: #E93969;
    border-radius: 10px;
  }

  .frame {
    border-color: #E93969;
  }

  .textframe {
    border-color: black;
  }

  .color {
    color: #E93969;
  }

  .footer {
    background-color: #E93969;
    color: white
  }

  .homeContent {
    background-color: #fff;
    color: black;
    border-radius: 0.5rem;
  }

  .hcontent-title {
    font-family: var(--font-sans);
    font-size: 30px;
    color: #E93969;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .npc-diolog {
    background-color: #fff;
    border: 2px solid #FFDADB;
  }

  .npc-choose {
    background-color: #fff;
    border: 2px solid #FFDADB;

    &:hover {
      background-color: #FFDADB;
      color: black;
    }
  }

  .npc-tooltip {
    background-color: #E93969;
    color: white; 
  }

  .npc-tooltip:before {
    background-color: #E93969 !important;
  }

  .npc-tooltip:after {
    background-color: #E93969 !important;
    color: white;
    animation: tooltipShow 0.3s ease-in-out;
  }

  @keyframes tooltipShow {
    from {
      opacity: 0;
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .tooltip:before {
    background-color: #E93969 !important;
    color: white;
  }
  
  .tooltip:after {
    background-color: #E93969 !important;
    font-weight: 900;
  }

  .flowerShop-bg{
    background-color: #FFDADB !important;
  }

  .flowerShop-toast{
    background-color: white !important;
    border: 3px solid #FFDADB;
  }

}



[data-theme="dark"] {
  body {
    background-color: #0C3C41;
    color: white;
  }

  .navbar {
    background-color: #30B1BD;
    color: white;
  }

  .mobile-nav {
    background-color: #30B1BD;
    color: white;
  }

  .drawer-bg {
    background-color: black;
  }

  .spanbg {
    background-color: #fff;
    border-radius: 10px;
  }

  .drop {
    background-color: #34878F;
    color:white;
  }

  .mainContent {
    background-color: #141414;
    color: white;
  }

  .frame {
    border-color: #30B1BD;
  }

  .textframe {
    border-color: white;
  }

  .line {
    border-color: #30B1BD;
    border-radius: 10px;
  }

  .color {
    color: #30B1BD;
  }

  .homeContent {
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
  }

  .hcontent-title {
    font-family: var(--font-sans);
    font-size: 30px;
    color: #30B1BD;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .footer {
    background-color: black;
    color: white
  }

  .npc-diolog {
    background-color: #0C3C41;
    border: 2px solid #B4B4B4;
  }

  .npc-choose {
    background-color: #0C3C41;
    border: 2px solid #30B1BD;

    &:hover {
      background-color: #30B1BD;
      color: white;
    }
  }

  .npc-tooltip {
    background-color: #0C3C41;
    color: white; 
  }

  .npc-tooltip:before {
    background-color: #0C3C41 !important;
  }

  .npc-tooltip:after {
    background-color: #0C3C41 !important;
    color: white;
    animation: tooltipShow 0.3s ease-in-out;
  }

  @keyframes tooltipShow {
    from {
      opacity: 0;
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .tooltip:before {
    background-color: #0C3C41 !important;
    color: white;
  }
  
  .tooltip:after {
    background-color: #0C3C41 !important;
    font-weight: 900;
  }

  .flowerShop-bg{
    background-color: #30B1BD !important;
  }

  .flowerShop-toast{
    background-color: #0C3C41 !important;
    border: 3px solid #30B1BD;
  }
}

html,
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: transparent;
  color: white;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.navbar {
  background-color: #30B1BD;
  color: white;
}

.hcontent-sectitle {
  font-family: var(--font-sans);
  color: #B4B4B4;
  font-weight: bold;
  text-align: left;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}