@import "tailwindcss" source(none);
@source "./pages";
@source "./components";
@plugin "daisyui" {
  themes: light, dark;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: ;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #6366F2;
}

[data-theme="light"] {
  body {
    background-color: #fff;
    color: black;
  }
  .navbar {
    background-color: #E93969;
    color: white;
  }
  .footer {
    background-color: #fff;
    color: black
  }

  .drop {
    background-color: #fff;
    color:black;
  }
  .spanbg {
    background-color: black;
  }

}

[data-theme="dark"] {
  body {
    background-color: #0C3C41;
    color: white;
  }
  .navbar {
    background-color: #30B1BD;
    color: white;
  }
  .mobile-nav {
    background-color: #30B1BD;
    color: white;
  }
  .drawer-bg {
    background-color: black;
  }
  .spanbg {
    background-color: #fff;
  }
  .drop {
    background-color: black;
    color:white;
  }
}
html,
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: transparent;
  color: white;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.navbar {
  background-color: #30B1BD;
  color: white;
}

.homeContent {
  background-color: #141414;
  color: white;
  border-radius: 0.5rem;
}

.hcontent-title {
  font-family: var(--font-sans);
  font-size: 30px;
  color:#30B1BD;
  font-weight: bold;
  margin-bottom: 1rem;
}
.hcontent-sectitle{
  font-family: var(--font-sans);
  color:#B4B4B4;
  font-weight: bold;
  text-align: left;
}
.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

